apiVersion: v1
kind: Service
metadata:
  name: operation-queue
  namespace: farm
spec:
  selector:
    k8s-app: server
  ports:
  - port: 8980
    targetPort: 8980
---
apiVersion: v1
kind: Service
metadata:
  name: cas
  namespace: farm
spec:
  selector:
    k8s-app: server
  ports:
  - port: 8980
    targetPort: 8980
---
apiVersion: v1
kind: Service
metadata:
  name: action-cache
  namespace: farm
spec:
  selector:
    k8s-app: server
  ports:
  - port: 8980
    targetPort: 8980